# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Fresh build directory
_fresh/

# Needed because of Tailwind (Fresh 1.6+)
node_modules/
