---
layout: layouts/base.njk
title: About
---

<div class="hero">
  <h1>Wichita's community for software developers</h1>
  <h2><strong>devICT</strong> is a volunteer-run community aiming to <strong>educate, empower and connect</strong> web, game, and software developers in the <strong>Wichita, KS</strong> area through online and in-person engagement.</h2>
  <hr>
  <p><strong>Open to all</strong>: hobbyists, beginners, and seasoned engineers alike.</p>
  <p>devICT is a welcoming and knowledgeable community where you can engage, contribute, and grow your skills as a web, game, or software developer.</p>
</div>

<div class="grid grid-3 mb-4">
  <div class="card">
    <h3 class="text-2xl">Who we are</h3>
    <p>We are a group of individuals who have a common interest in software development.</p>
    <p>Our skill levels vary greatly, from complete beginners to seasoned veterans. We welcome anyone with a curiosity for programming.</p>
    <p>We strictly enforce a Code of Conduct to provide all of our members a safe and inclusive environment.</p>
  </div>
  <div class="card">
    <h3 class="text-2xl">What we do</h3>
    <p>Members of devICT have one common goal: to be better at what we do. Our events and services are aimed at achieving that.</p>
    <p>To make that happen we have monthly events that are both social and educational.</p>
    <p>We also have an active Slack community which serves as a place to connect and discuss with others in the community.</p>
  </div>
  <div class="card">
    <h3 class="text-2xl">Get involved!</h3>
    <p>Most of the time we are hanging out in Slack. To join, just fill out this form.</p>
    <p>Primarily, be sure to become a member on the Meetup page. Then you will receive notifications for upcoming events.</p>
    <p>You could also give a talk! Share the knowledge! We enjoy learning about any development related topics. Contact a board member if you are interested!</p>
  </div>
</div>

<hr class="my-8 mt-16">

<div class="my-8">
  <div class="text-center">
    <h1 class="text-3xl my-4">Organizers</h1>
    <p class="text-lg mx-auto max-w-4xl">The devICT Institute is a 501c3 non-profit governed by a board of directors. In addition to the board we are supported by volunteers who organize events and generally keep things running.</p>
  </div>

  <h2 class="text-2xl mt-8">Board & Volunteers</h2>
  <div class="grid grid-5 mt-4">
    <div class="volunteer-card">
      <img src="/img/leadership/seth-etter.jpg" alt="Image of Seth Etter">
      <strong>Seth Etter</strong>
      <span class="role">Board of Directors</span>
      <a href="https://slack.com/app_redirect?channel=U02T9190X" target="_blank">Contact on Slack</a>
    </div>
    <div class="volunteer-card">
      <img src="/img/leadership/christen-lofland.jpg" alt="Image of Christen Lofland">
      <strong>Christen Lofland</strong>
      <span class="role">Board of Directors</span>
      <a href="https://slack.com/app_redirect?channel=U02TG0SGZ" target="_blank">Contact on Slack</a>
    </div>
    <div class="volunteer-card">
      <img src="/img/leadership/michael-neth.jpg" alt="Image of Michael Neth">
      <strong>Michael Neth</strong>
      <span class="role">Board of Directors</span>
      <a href="https://slack.com/app_redirect?channel=U02V81GGA" target="_blank">Contact on Slack</a>
    </div>
    <div class="volunteer-card">
      <img src="/img/leadership/brian-buller.jpg" alt="Image of Brian Buller">
      <strong>Brian Buller</strong>
      <span class="role">Code & Coffee Host</span>
      <a href="https://slack.com/app_redirect?channel=U030RD9NU" target="_blank">Contact on Slack</a>
    </div>
    <div class="volunteer-card">
      <img src="/img/leadership/brian-foster.jpg" alt="Image of Brian Foster">
      <strong>Brian Foster</strong>
      <span class="role">Game Jam Organizer</span>
      <a href="https://slack.com/app_redirect?channel=U03TRPHR0" target="_blank">Contact on Slack</a>
    </div>
  </div>
</div>
