---
layout: layouts/base.njk
title: Code of Conduct
---

<div class="markdown-body my-8">
  <h1>Code of Conduct</h1>

  <p>All individuals participating in any devICT sanctioned space, whether in-person or online, are required to agree with the following code of conduct. This includes attendees, volunteers, speakers, sponsors, and members of the devICT board. Organizers will enforce this code whenever deemed appropriate. We expect cooperation from all participants to help ensure a safe and welcoming environment for everybody.</p>

  <h2>The Quick Version</h2>

  <p>Our community is dedicated to providing a harassment-free meetup experience for everyone, regardless of gender, gender identity and expression, age, sexual orientation, disability, physical appearance, body size, race, ethnicity, religion (or lack thereof), or technology choices. We do not tolerate harassment of meetup participants in any form. Sexual or derogatory language and imagery is not appropriate for any community space, including events, talks, workshops, parties, Slack, GitHub, and any other online space. Community participants violating these rules may be sanctioned or expelled from the event and/or community without refund (where applicable) at the discretion of the devICT board and event hosts.</p>

  <h2>The Less Quick Version</h2>

  <p>Harassment includes offensive written or verbal comments or imagery related to gender, gender identity and expression, age, sexual orientation, disability, physical appearance, body size, race, ethnicity, religion, technology choices, sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention.</p>

  <p><strong>Participants asked to stop any harassing behaviour are expected to comply immediately.</strong></p>

  <p>If a participant engages in harassing behaviour, the devICT board or event hosts may take any action they deem appropriate, including warning the offender, expulsion from the event, and/or expulsion from devICT digital spaces.</p>

  <p>If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a devICT board member or event host immediately. Photos and contact information can be found on <a href="/about/">our about page</a>.</p>

  <p>devICT board members and event hosts will be happy to help participants contact security or local law enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the meetup. We value your attendance.</p>

  <p>We expect anyone participating in devICT, either in person or virtually, to abide by this code of conduct.</p>

  <h2 id="report-an-incident">Report an Incident</h2>

  <p>You may use this form to anonymously report an incident that may have violated our Code of Conduct. The report will go to the devICT Board of Directors. The report goes through the servers at formspree.io.</p>
</div>

<div class="my-4">
  <form action="https://formspree.io/f/mwkwyady" method="POST">
    <div class="form-group">
      <label for="report" class="text-sm mb-2" style="display: block;">Describe what happened, providing any detail that may help the devICT board in addressing the situation.</label>
      <textarea name="report" class="form-textarea"></textarea>
    </div>
    <div class="my-4">
      <p class="text-sm">If you want a response from the board, please leave some kind of contact information here.</p>
    </div>
    <div class="form-row">
      <input name="from" type="text" class="form-input" placeholder="Anonymous" style="max-width: 200px;">
      <input type="submit" class="form-submit" value="Send">
    </div>
  </form>
</div>
